@{
	ViewData["Title"] = "Index";
}


<h1>Welcome to the nist college</h1>
<p>Nist college is the one of the top institution of nepal. It provide quality education to the student</p>
<img src="https: //th.bing.com/th/id/R.c79258004ff5bce00085dccb47235fd2?rik =SW5FykzmMeOGaQ&pid =ImgRaw&r =0" />
<div>
	<div>
	<div>
		<h1>Subjects</h1>
		<p>there are varous subjects being teached in nist college. In bachelor there are many IT related subjecs</p>
		<div>
		</div><h2>
			Csit
		</h2>
		<p>CSit is one of the best course provided by tribhuvan university.</p>

	</div>
	<h1>Fill in the form for more information</h1>
	<form>
		<label >Name</label>
		<input type="text" /><br />
		<label>Address</label>
		<input type="text" /><br />
		<label>Email</label>
		<input type="text" />

	</form>

</div>

