@{
    ViewData["Title"] = "Home Page";
}

@*<div class="image">
</div>*@
@* this is image *@
<div>
    <div class="carousel-inner image1">
        <div>
            <img src="static\bagan2.jpg" class="w-100" alt="...">

        </div>
    </div>
</div>


@* this is about *@
<div class="about_container" id="about">

    <div class="about">
        <h1 class="about_heading">About</h1>
        <p> This website is all about spreading love and happiness.We encourage people to live life happily.Be yourself, do good things ,make yourself and other happy and this world will be beautiful place to live.All our motive is to encourage depress soul to grow and glow again.Thinking positive is one of the best way to be mentally stable.Positive thinking doesn't mean that you ignore life's less pleasant situations. Positive thinking just means that you approach unpleasantness in a more positive and productive way. You think the best is going to happen, not the worst.</p>
    </div>

</div>
@* thes is members *@

<h1 class="about_heading" id="members">Members</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 " >
    <div class="col">
        <div class="card h-100">
            <img src="https://cdn.pixabay.com/photo/2020/11/24/09/56/woman-5772021__340.jpg" class="card-img-top members_image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sunita khakurel</h5>
                <p class="card-text">I am sunita khakurel.I am here to help you with ypur problems.You csn contsck me if you need any help about mental health issue.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://cdn.pixabay.com/photo/2015/01/12/10/45/man-597178__340.jpg" class="card-img-top members_image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nabin Panta</h5>
                <p class="card-text">I am Dr. nabin panta.I am metal health specialist.I can help you with your problem like depression , anxiety, panic attack etc.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://cdn.pixabay.com/photo/2021/07/26/13/20/man-6494289__340.jpg" class="card-img-top members_image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Suman Khakurel</h5>
                <p class="card-text">I am the CEO of the peacezone . My motive is to give you best doctor according to your problem to make this world free from mental health issue.</p>
            </div>

        </div>
    </div>
</div>
@*this is positive thought*@
<h1 class="about_heading" id="positiveThought">Positive Thought</h1>
<div class="thought_container" >
    <div class="thought_image">
        <img src="https://cdn.pixabay.com/photo/2018/01/29/07/11/flower-3115353__340.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="thought_text">
        <p>“A rose can never be a sunflower, and a sunflower can never be a rose. All flowers are beautiful in their own way, and that’s like human too.” – Miranda Kerr</p>
    </div>
</div>
<div class="thought_container">
    
    <div class="thought_text">
        <p>“Don’t be pushed around by the fears in your mind. Be led by the dreams in your heart.” ―Roy T. Bennett</p>
    </div>
    <div class="thought_image">
        <img src="https://cdn.pixabay.com/photo/2017/11/20/13/16/woman-2965551__340.jpg" class="img-thumbnail" alt="...">
    </div>
</div>
<div class="thought_container">
    <div class="thought_image">
        <img src="https://cdn.pixabay.com/photo/2017/02/07/13/47/live-your-dream-2045928__340.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="thought_text">
        <p>“Out of suffering have emerged the strongest souls; the most massive characters are seared with scars.” —Kahlil Gibran</p>
    </div>
</div>
@*this is contact*@
<h1 class="contact_heading" id="contact">Contact</h1>
<div class="contact1" >

<form class="row g-3">
        <div class="col-md-6">
            <label for="name" class="form-label">FirstName</label>
            <input type="email" class="form-control" id="name">
        </div>
        <div class="col-md-6">
            <label for="name" class="form-label">LastName</label>
            <input type="email" class="form-control" id="name">
        </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
   
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">District</label>
        <select id="inputState" class="form-select">
            <option selected>Choos.....</option>
                <option>Kavre</option>
                <option>Kathmandu</option>
                <option>Bhaktapur</option>
                <option>Lalitpur</option>
        </select>
    </div>
    
    
    <div class="col-12">
        <button type="submit" class="submit1">Sign in</button>
    </div>
</form>
</div>

@*footer*@

